nav {
  position: fixed;
  z-index: 1; /* Make sure nav is above overlay */
  top: 0;
  left: 0;
  width: 200px;
  height: 100vh;
  overflow-y: auto;
  /*text-align: left;*/
  background-color: #f5f5f5;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px;
}

nav a {
  display: block;
  margin-bottom: 10px;
  text-decoration: none;
  color: #333;
  font-weight: normal;
  text-align: left;
  font-size: 18px;
}

.overlay {
  display: none; /* hide overlay by default */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Cor de fundo preto com opacidade */
}


.overlay.visible {
  display: block;
}

body {
width: 100%;
font-family: 'Times New Roman', serif;
font-kerning: normal;
letter-spacing: 0.1rem; /* Tracking is set to 0 pt, which is the default */
font-variant-ligatures: common-ligatures; /* This is usually the default setting for OpenType fonts */
font-weight: normal; /* Ensures the text is not bold */
margin: 0;
display: flex;
color: rgb(49, 47, 47);
text-transform: normal; /* Transforma o texto em maiúsculas */
flex-direction: column;
align-items: center;
  text-align: center;
}

h2 {
  font-family: 'Times New Roman', serif;
  font-kerning: normal;
  text-transform: uppercase; /* Transforma o texto em maiúsculas */
  letter-spacing: 0.1rem; /* Tracking is set to 0 pt, which is the default */
  transform: scale(1, 1) rotate(0deg); /* Horizontal and vertical scale are 100%, and rotation is 0° */
  font-variant-ligatures: common-ligatures; /* This is usually the default setting for OpenType fonts */
  margin: 0;
  padding-bottom: 5%;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-weight: normal; /* Ensures the text is not bold */
}



.header-text {
  display: none;
  text-transform: uppercase; /* Transforma o texto em maiúsculas */
  font-size: 1.1rem; /* Mantém o mesmo tamanho que o ícone do hambúrguer */
  position: fixed;
  top: 30px;
  right: 15px; /* Posiciona o texto no lado direito da tela */
  font-family: 'Times New Roman', serif;
  font-kerning: normal;
  letter-spacing: 0.1rem; /* Tracking is set to 0 pt, which is the default */
  transform: scale(1, 1) rotate(0deg); /* Horizontal and vertical scale are 100%, and rotation is 0° */
  font-variant-ligatures: common-ligatures; /* This is usually the default setting for OpenType fonts */
  font-weight: normal; /* Ensures the text is not bold */
  
}

section {
padding-left: 10%;
padding-right: 10%;}

section img {
  max-width: 100%;
  height: auto;
  justify-content: center
}

footer {
  margin-top: 20px;
}

footer p {
  font-size:xx-small;

}


.caixa {
  display: inline-block;
  width: 30%;
  /*border: 1px solid #ccc;*/
  background-color: #f5f5f5;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin: 10px;
  text-align: center;
  cursor: pointer;
  color: #71765f;
  text-decoration: none 
}

#submitButton {
  display: inline-block;
  width: 30%;
  /*border: 1px solid #ccc;*/
  background-color: #f5f5f5;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin: 10px;
  text-align: center;
  cursor: pointer;
  color: #71765f;
  text-decoration: none ;
  border: none;
  font-family: 'Times New Roman', serif;
  font-kerning: normal;
  letter-spacing: 0.1rem; /* Tracking is set to 0 pt, which is the default */
  transform: scale(1, 1) rotate(0deg); /* Horizontal and vertical scale are 100%, and rotation is 0° */
  font-variant-ligatures: common-ligatures; /* This is usually the default setting for OpenType fonts */
  font-weight: normal; /* Ensures the text is not bold */
  
}

/*
.subsecao .conteudo {
  height: auto; /* Altura inicial *//*
  overflow: hidden; /* Esconde o conteúdo extra *//*
  text-align: left;
}

.subsecao.expandida .conteudo {
  height: auto; /* Expande para mostrar todo o conteúdo *//*
}
*/
.toggle {
  cursor: pointer;
  font-size: 1.2em;
  background: none;
  border: none;
  padding: 0;
  margin-left: 10px;
}

.hamburger {
  position: fixed;
  top: 30px;
  left: 15px;
  font-size: 1.1rem;
  z-index: 1000; /* Certifique-se de que está sobre outros elementos */
  color: #71765f;
}
.close-btn {
  display: none;
  font-size: 30px;
  cursor: pointer;
}

.nome-input {
  height: 20px; /* Altura para o campo 'Nome' */
  width: 100%; /* Largura para o campo 'Nome' */
  /* Outros estilos personalizados podem ser adicionados aqui */
}

.mensagem-input {
  height: 100px; /* Altura para o campo 'Mensagem' */
  width: 100%; /* Largura para o campo 'Mensagem' */
  overflow-y: auto; /* Adds a vertical scrollbar when needed */
  /*border: 1px solid #ccc;*/
  /*box-shadow: inset 0 1px 3px rgba(0,0,0,0.1);*/
  /*border-radius: 4px;*/
}

#confpres {
  width: min(700px, 80%); /* ou uma largura fixa, conforme necessário */
}




.select-input {
  height: 20px; /* Altura para a caixa de seleção */
  width: 100%; /* Largura para a caixa de seleção */
}

.nome-input, .select-input, .mensagem-input {
  box-sizing: border-box; /* Garante que padding e border estejam incluídos na largura */
  /* Outros estilos para garantir consistência */
  font-family: 'Times New Roman', serif;
  font-kerning: normal;
  letter-spacing: 0.1rem; /* Tracking is set to 0 pt, which is the default */
  transform: scale(1, 1) rotate(0deg); /* Horizontal and vertical scale are 100%, and rotation is 0° */
  font-variant-ligatures: common-ligatures; /* This is usually the default setting for OpenType fonts */
  font-weight: normal; /* Ensures the text is not bold */
  
}


#foodRestrictionP{
  display: none;

}

#foodDetails{
  display: none;

}


.selected-section {
  color: #71765f; /* Substitua por sua cor desejada */
  font-weight: bold; /* Apenas um exemplo para destacar o item selecionado */
}        

.nav-menu .selected-section {
  color: #71765f;
}
/* Style for hidden navigation menu */
.nav-closed {
  display: none;

}

/* Style for open navigation menu */
.nav-open {
  display: flex; /* or your preferred display type for the nav */
}


.local-container {
    display: flex;
  flex-wrap: wrap;}


.local {
  flex: 1 1 100%;
  display: grid;
  grid-template-rows: auto 1fr auto; /* Define as linhas para título, imagem e descrição */
  gap: 10px; /* Espaçamento entre os elementos grid */
  align-items: center; /* Alinha o conteúdo ao topo */
  text-align: center; /* Centraliza o texto */
  font-family: 'Times New Roman', serif;
  font-kerning: normal;
  letter-spacing: 0.1rem; /* Tracking is set to 0 pt, which is the default */
  transform: scale(1, 1) rotate(0deg); /* Horizontal and vertical scale are 100%, and rotation is 0° */
  font-variant-ligatures: common-ligatures; /* This is usually the default setting for OpenType fonts */
  font-weight: normal; /* Ensures the text is not bold */

}


/* Media Query para telas com largura maior que 250 pixels */
@media (min-width: 800px) {
  .local {
    flex: 1 1 50%; /* Em telas maiores, cada item ocupa 50% da largura do contêiner (2 colunas) */
    display: grid;
    grid-template-rows: auto 1fr auto; /* Define as linhas para título, imagem e descrição */
    gap: 10px; /* Espaçamento entre os elementos grid */
    align-items: center; /* Alinha o conteúdo ao topo */
    text-align: center; /* Centraliza o texto */
  
  }
}




.local p {
    font-size: 1.1rem;
    font-family: 'Times New Roman', serif;
    font-kerning: normal;
    letter-spacing: 0.1rem; /* Tracking is set to 0 pt, which is the default */
    transform: scale(1, 1) rotate(0deg); /* Horizontal and vertical scale are 100%, and rotation is 0° */
    font-variant-ligatures: common-ligatures; /* This is usually the default setting for OpenType fonts */
    font-weight: normal; /* Ensures the text is not bold */
        color: #333;    
}

/* Ajusta o tamanho das imagens para não ultrapassarem o contêiner .local */
.local img {
    object-fit: cover; /* Ensures the image fills the parent container */
    max-width: 100%; /* Resizes the image to fit the parent's width */
    max-height: 100%; /* Resizes the image to fit the parent's height */
    justify-content: center; /* Aligns the description to the bottom */

}

.popup-escondido {
    display: none;
    position: fixed; /* Fica fixo na tela */
    z-index: 100; /* Fica acima de outros itens */
    left: 0;
    top: 0;
    width: 100%; /* Largura total */
    height: 100%; /* Altura total */
    overflow: auto; /* Habilita scroll se necessário */
    background-color: rgb(0,0,0); /* Fundo semi-transparente */
    background-color: rgba(0,0,0,0.4); /* Fundo semi-transparente com transparência */
}

.popup-conteudo {
    background-color: #fefefe;
    margin: 20% auto; /* 15% do topo e centralizado horizontalmente */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Você pode ajustar a largura */
}   

.popup-fechar {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}   

.popup-fechar:hover,
.popup-fechar:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

section {
  padding-top: 40px; }




  /* Mobile view */

  @media screen and (min-width: 768px) {
    .hamburger {
      display: none;
    }

    nav {text-align: center;  }


    .nav-menu {
      display: block;
    }

    section {
        margin-left: 300px; /* Adjust margin to prevent overlap */
        max-width: 1000px;

    }

    footer {
      margin-left: 300px; /* Adjust margin to prevent overlap */
    }
    
}




@media screen and (max-width: 768px) {
    
    .hamburger {
      display: block;
      position: fixed;
    }

    .nav-menu {
      display: none;
      position: fixed;
    }

    nav {
      display: block; /* Always display the menu */
      position: fixed;
      padding-top: 0;
      transform: translateX(-100%); /* Hide off-screen */
      transition: transform 0.3s ease-in-out;
      text-align: center;
      top:0;
      left: 0; /* Start off-screen */
      width: 100%;
      height: 100vh;
      margin-top: 0;
      padding-top: 30%;
      /* Rest of your styles */
    }

    nav.active {
      transform: translateX(0); /* Show on-screen */
    }

    header {
      width: 100%;
      display: block;
      position: fixed;
      height: 65px;
      top: 0;
      left: 0;
      align-items: center;
      background-color: #f5f5f5;
      justify-content: space-between; /* Esta linha é opcional, dependendo do layout desejado */
      z-index: 1001; /* Garante que o cabeçalho fique acima do hambúrguer */
    }
        

    .header-text {
      display: block; /* Show the h1 */
      color: #71765f;
    }
  


    /* When menu is active */

    .active {
      left: 0; /* Bring on-screen */
    }

    .close-btn {
      display: block;
      position: absolute;
      top: 20px;
      right: 20px;
    }

  }