body {
  width: 100%;
  font-family: Arial, sans-serif;
  margin: 0;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.content {
  width: min(95%, 800px);
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#formpres {
  width: 100%; /* Garante que o formulário ocupe a largura total do contêiner pai */
  max-width: 600px; /* ou a largura máxima desejada */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nome-input,
.gift-input {
  height: 20px; /* Altura para o campo 'Nome' */
  width: 90%; /* Largura para o campo 'Nome' */
  /* Outros estilos personalizados podem ser adicionados aqui */
}

.mensagem-input {
  height: 100px; /* Altura para o campo 'Mensagem' */
  width: 90%; /* Largura para o campo 'Mensagem' */
  overflow-y: auto; /* Adds a vertical scrollbar when needed */
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.popup-escondido {
  display: none;
  position: fixed; /* Fica fixo na tela */
  z-index: 0; /* Fica acima de outros itens */
  left: 0;
  top: 0;
  width: 100%; /* Largura total */
  /*height: 100%; /* Altura total */
  overflow: auto; /* Habilita scroll se necessário */
  background-color: rgb(0, 0, 0); /* Fundo semi-transparente */
  background-color: rgba(
    0,
    0,
    0,
    0.4
  ); /* Fundo semi-transparente com transparência */
}

.popup-conteudo {
  background-color: #fefefe;
  margin: 20% auto; /* 15% do topo e centralizado horizontalmente */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Você pode ajustar a largura */
}

.popup-fechar {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.popup-fechar:hover,
.popup-fechar:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#submitButton {
  display: inline-block;
  width: 30%;
  /*border: 1px solid #ccc;*/
  background-color: #f5f5f5;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin: 10px;
  text-align: center;
  cursor: pointer;
  color: #71765f;
  text-decoration: none;
  border: none;
}

@media (max-width: 768px) {
  body,
  .content,
  #formpres {
    width: 100%;
  }
}

.home-icon {
  position: fixed;
  text-decoration: none;
  font-size: 40px;
  top: 10px;
  left: 15px;
  color: black;
}

header {
  width: 100%;
  display: block;
  position: fixed;
  height: 65px;
  top: 0;
  left: 0;
  align-items: center;
  background-color: white;
  justify-content: space-between; /* Esta linha é opcional, dependendo do layout desejado */
  z-index: 1001; /* Garante que o cabeçalho fique acima do hambúrguer */
}
